<p id="notice"><%= notice %></p>

<p>
	<strong>Item Id  :  </strong>
	<%= @item.id%>
</p>

<p>
	<strong>Item Name  :  </strong>
	<%= @item.name%>
</p>

<p>
	<strong>Stock  :  </strong>
	<%= @item.stock%>
</p>

<p>
	<strong>Cost Price  :  </strong>
	<%= @item.cost_price%>
</p>

<td><%= link_to "back", items_path %></td>